.container{
    background-color: #0d0e13;
    color:#fdfdfd;
    width:100%; 
    height:100%;
    padding: 20px;
    padding-bottom: 5rem;
}

table{
    margin: 0 auto;
    table-layout: fixed;
    width: 800px;
    border-collapse:collapse;
}

caption{
    text-align: center;
    color:blue;
    font-size:7rem;
    color:#fdfdfd;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
}

caption span{
    font-size: 3.5rem;
}

tr:nth-child(even){
    background-color: #1f2b37;
}

tr:nth-child(odd){
    background-color: #0d0e13;
}

th,td{
    padding:20px;
    text-align: center;
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
  
}

th{
    font-size:1.2rem;
    font-weight: 400;
}

td{
    border-left:2px solid #3a475c;
}

.col-v{
    border-left:2px solid #3a475c;
    border-bottom:2px solid #3a475c;
    background-color: #1f2b37;
}


.col-v:first-child{
    border-left:none;
}

.row-h{
    width:30%;
    text-align: left;
}

.circle{
    display:inline-block;
    width:30px;
    height:30px;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    vertical-align: middle;
    color:white;
}
.green{
    background-color:#56d08a ;
}
.red{
    background-color:#cf4840 ;
}

#table1 tr code-block td {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
  }
  
  /* This will cover your dynamically created <td> */
  #table1 tr td:has(pre) {
    padding: 0;
    border: none;
    background: transparent;
  }
  
  /* Clean up the code block */
  #table1 pre {
    margin: 0;
    padding: 1em;
    border-radius: px;
    background: #2d2d2d; /* or let Prism theme handle */
    overflow-x: auto;
  }
  
  /* Optional: style code inside for better look */
  #table1 code {
    font-size: 1rem;
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
  }